//-------------------------IMPORT------------------------------//
@import '_fonts.scss';
@import '_color.scss';

//-------------------------basis------------------------------//

body {
    margin: 0;
    padding: 0;
    background-color: $pallete__background;
}

* {
    font-family: 'Nova Mono', monospace;
    color: $pallete__fonts--dark;
}

.h100 {
    height: 100vh;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.container {
    width: 1200px;
}

button.btn {
    padding: 3px 20px;
    background: $pallete__primary;
    box-shadow: 0px 2px 0px $pallete__shadow;
    border-radius: 5px;
    font-family: NovaMono;
    font-size: 18px;
    line-height: 33px;
    // text-transform: uppercase;
    color: $pallete__fonts--dark;
    border: none;
    position: relative;

    &:hover {
        top: 1px;
        opacity: .95;
        box-shadow: 0px 1px 0px $pallete__shadow;
        border-radius: 5px;

    }

    &:active {
        top: 2px;
        background: $pallete__primary;
        opacity: 0.75;
        box-shadow: none;
        border-radius: 5px;

    }

}


//-------------------------header------------------------------//

.header {
    margin: 0;
    padding: 20px;
    background-color: $pallete__fonts--dark;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
    // .header__block

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__brand

    // &__brand {}

    // .header__menu

    // &__menu {}

    // .header__btn

    &__btn {
        color: red;
    }

    // .header__content

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        text-align: center;
    }

    &__icon {
        & img {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &:hover {
                background-color: $pallete__primary;
                opacity: .95;
            }

            &:active {
                opacity: .85;
            }
        }
    }
}

.brand {

    // .brand__logo

    &__logo {
        &:hover {
            opacity: 0.95;
        }

        &:active {
            opacity: 0.85;
        }
    }
}

.menu {

    display: flex;
    justify-content: space-around;
    // .menu__item

    &__item {
        list-style-type: none;
        margin-right: 45px;
    }

    // .menu__link

    &__link {
        color: $pallete__fonts--light;
        text-decoration: none;
        position: relative;
        font-size: 18px;

        &:hover {
            color: $pallete__primary;
            top: -4px;
            text-decoration: underline;

        }

        &:active {
            opacity: .85;
            top: -2px;

        }
    }

    
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;    

    // .content__colume
    &__colume {
        align-self:flex-end;
    }

    // .content__colume--left

    &__colume--left {
       text-align: left;
    }

    // .content__title

    &__title {
        color: $pallete__primary;
        margin-bottom: 0;
            
    }

    // .content__subtitle

    &__subtitle {
        margin-top: 5px;
    }

    // .content__button

    &__button.btn {
        width: 50%;
        font-size: 36px;
        padding: 20px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

    // .content__colume--right

    // &__colume--right {
    // }

    // .content__img

    &__img {
        width: 600px;
        
}
}


//-------------------------about------------------------------//

.section {

    // .section__about

    &__about {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}
.about {

    // .about__content

    &__content.content.container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

#about-me .content {

    // .content__colume

    &__colume  {        
    }

    // .content__colume--left

    &__colume--left {
    }

    // .content__img

    &__img {
        
    }

    // .content__colume--right

    &__colume--right {
    }

    // .content__title

    &__title {
    }

    // .content__subtitle

    &__subtitle {
    }

    // .content__button

    &__button {
    }
}


